body {
    background-color: #f8f8f8;
}

.book-library {
    background-color: #ffffff;
    padding: 20px;
}

.book {
    margin-bottom: 20px;
}

.book p {
    color: #777777; /* author */
}

.book div {
    background-color: #2ecc71; /* price block */
    color: #ffffff;
    border-radius: 5px;
    padding: 5px 10px;
    width: fit-content;
}